Host bastion
    HostName               BASTION_IP
    User                   ec2-user
    ProxyCommand           none
    IdentityFile           nikkey
    BatchMode              yes
    PasswordAuthentication no
    ControlPath ~/.ssh/ansible-%r@%h:%p
    PasswordAuthentication no
    ForwardAgent yes
    ServerAliveInterval 60
    TCPKeepAlive yes
    ControlMaster auto


Host *
  User ec2-user
  ProxyCommand ssh -F ssh.config -q -A ec2-user@bastion nc %h %p
  IdentityFile           nikkey
  LogLevel QUIET
  StrictHostKeyChecking no
  ServerAliveInterval 60
  TCPKeepAlive yes
